<nb-card>
  <nb-card-header>
    Jobs
  </nb-card-header>

  <nb-card-body>
    <!-- <input #search class="search" type="text" placeholder="Search..." (keydown.enter)="onSearch(search.value)"> -->
    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"
      (create)="onCreateNewProcessor(dialog)" (edit)="onEditProcessor($event,dialog)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

<ng-template #dialog let-ref="dialogRef" >
  <nb-card >
    <nb-card-header>{{cardName}}</nb-card-header>
    <nb-card-body style="overflow:scroll">
      <div class="col-md-12" style="width: 999px">
        <form #templateForm="ngForm">
          <div class="form-group row">
            <label class="col-sm-3 label"></label>
            <div class="col-sm-9">
              <nb-radio-group>
                <nb-radio style="display: inline;">Mail</nb-radio>
                <nb-radio style="display: inline;">Sms</nb-radio>
              </nb-radio-group>
            </div>
          </div>
          <div class="form-group row">
            <label for="TemplateName" class="label col-sm-3 col-form-label">Choose Template</label>
            <!-- <div class="col-sm-9"> -->
            <!-- <input type="text" nbInput fullWidth fieldSize="large" placeholder="Name" [(ngModel)]="model.name"
                name="name"> -->
            <section class="col-sm-9">
              <div class="search-results style-3">
                <input type="text" placeholder="Choose Template" ngxTypeahead class="col-sm-12 form-control"
                  [value]="query3" [taList]="staticList" (taSelected)="handleStaticResultSelected($event)">
              </div>
            </section>
            <!-- </div> -->
          </div>
          <div class="form-group row">
            <label for="TemplateName" class="label col-sm-3 col-form-label">Choose Query</label>
            <!-- <div class="col-sm-9"> -->
            <!-- <input type="text" nbInput fullWidth fieldSize="large" placeholder="Name" [(ngModel)]="model.name"
                  name="name"> -->
            <section class="col-sm-9">
              <div class="search-results style-3">
                <input type="text" placeholder="Choose Query" ngxTypeahead class="col-sm-12 form-control"
                  [value]="query3" [taList]="staticList" (taSelected)="handleStaticResultSelected($event)">
              </div>
            </section>
            <!-- </div> -->
          </div>
          <div class="form-group row">
            <label for="TemplateName" class="label col-sm-3 col-form-label">Every</label>
            <section class="col-sm-9">
              <div class="search-results style-3">
                <input type="text" placeholder="Every" ngxTypeahead class="col-sm-12 form-control" [value]="query3"
                  [taList]="staticList" (taSelected)="handleStaticResultSelected($event)">
              </div>
            </section>
          </div>
          <div class="form-group row">
            <label for="TemplateName" class="label col-sm-3 col-form-label">When</label>
            <section class="col-sm-9">
              <div class="search-results style-3">
                <input type="text" placeholder="When" ngxTypeahead class="col-sm-12 form-control" [value]="query3"
                  [taList]="staticList" (taSelected)="handleStaticResultSelected($event)">
              </div>
            </section>
          </div>
          <div class="form-group row">
        
              <div class="calendars col-md-6">
                <div class="calendar-container">
                  <span class="subtitle">
                    Start Date: {{ date | date }}
                  </span>
                  <nb-calendar [(date)]="date" [boundingMonth]="true"></nb-calendar>
                </div>
              </div>
            
            
              <div class="calendars col-md-6">
                <div class="calendar-container">
                  <span class="subtitle">
                    Finish Date: {{ date | date }}
                  </span>
                  <nb-calendar [(date)]="date" [boundingMonth]="true"></nb-calendar>
                </div>
              </div>
           
          </div>
        </form>
      </div>

    </nb-card-body>
    <nb-card-footer>
      <!-- <button nbButton (click)="ref.close()">Close Dialog</button> -->
    </nb-card-footer>
  </nb-card>
</ng-template>